<h1 id="tableLabel" style="text-align:center">OTP Generator</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!employees"><em>Loading... Will refresh once the ASP.NET backend has started. </em></p>

<div style="text-align:center">
  <table *ngIf="employees">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Logged In</th>
        <th>Logged Out</th>
        <th>Get Password</th>
        <th>Validation</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.id }}</td>
        <td>{{ employee.userName }}</td>
        <td>{{ employee.logIn }}</td>
        <td>{{ employee.logOut }}</td>
        <td><button type="button" (click)="onClickGetOtp(employee.userName)">Get OTP</button></td>
        <td><button *ngIf="otpPassword" type="button" (click)="onClickVerifyOtp(otpPassword.password, employee.userName)">Is Valid?</button></td>
      </tr>
    </tbody>
  </table>
</div>

<p style="height:20px"></p>
<h4>Enter the length of the time window (in seconds):</h4>
<input #secondsInput type="text" style="text-align:center;width:40px" value="30" />
<p style="height:30px"></p>

<div style="text-align:center" *ngIf="otpPassword">
  <h2> Generated OTP </h2>
  <h4 *ngIf="otpPassword">Password: {{ otpPassword.password }}</h4>
  <h4 *ngIf="otpPassword">Seconds left: {{ otpPassword.remainingSeconds }}</h4>

  <h4 *ngIf="otpPassword">Validity: {{ isValid }}</h4>
</div>
