<h1 id="tableLabel">OTP Generator</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!employees"><em>Loading... Please refresh once the ASP.NET backend has started. </em></p>

<table *ngIf="employees">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Logged In</th>
            <th>Logged Out</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{ employee.id }}</td>
            <td>{{ employee.userName }}</td>
            <td>{{ employee.logIn }}</td>
            <td>{{ employee.logOut }}</td>
        </tr>
    </tbody>
</table>
